
.animation {
    /*linear:匀速*/
    /*位置一定是要固定的,否则会产生上下偏移现象*/
    text-align: center;
    padding: 10px 10px;
    background: #dddddd;
    border-radius: 25px;
    -moz-border-radius: 25px;
    position: fixed;
    animation: animation linear 5s;
}

.img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-right: 10px;
    float: left;
    position:relative;
}

#danmu > div:hover {
    animation-play-state: paused;
    /*background:url("http://127.0.0.1:8888/test/timg.jpeg");*/
    /*!*opacity:0.0;*!*/
}



